* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F7F7F7;
    font-family: sans-serif;
}

nav {
    background: linear-gradient(#272932, #474A58);
    color: #F7F7F7;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

ul li {
    list-style: none;
    margin-left: 1rem;
}

ul {
    display: flex;
    align-items: center;
    padding: .3rem;
}

li {
    padding: .8rem;
}

ul li.title {
    font-size: 2rem;
}

ul li.quiz {
    font-size: 1.5rem;
    margin: 0 auto;
}

img {
    width: 23rem;
    border-radius: 20px;
}


main section {
    margin: 0 auto;
    max-width: 150ch;
}



.num-question {
    font-size: 1.5rem;
    margin-top: 5rem;
    margin-bottom: 2rem;
    text-shadow: lightgray 2px 2px;
    max-width: 103ch;
}

.question {
    display: flex;
    background: linear-gradient(#E6E6E6, #F7F7F7);
    padding: 2rem;
    border-radius: 20px;
    box-shadow: .2rem .2rem .2rem .2rem lightgray;
    align-items: center;
    height: 13rem;
    margin-bottom: 2rem;
    max-width: 150ch;
    color: black;
}

.question.info {
    display: flex;
    background: linear-gradient(#272932, #474A58);
    padding: 2rem;
    border-radius: 20px;
    box-shadow: .2rem .2rem .2rem .2rem lightgray;
    align-items: center;
    height: 13rem;
    margin-bottom: 2rem;
    max-width: 150ch;
    color: #F7F7F7;
}

.question h2 {
    padding-left: 7rem;
}

.buttons button {
    background: linear-gradient(#272932, #474A58);
    color: #F7F7F7;
    border-radius: .5rem;
    box-shadow: .2rem .2rem .2rem .2rem lightgray;

    display: inline-flex;
    width: 30rem;
    padding: 1.5rem 1rem 1.5rem 1rem;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

.buttons button:hover:enabled {
    background: linear-gradient(#202129, #33353f);
    color: #d1cece;
    border-radius: .5rem;
    box-shadow: .2rem .2rem .2rem .2rem lightgray;

    display: inline-flex;
    width: 30rem;
    padding: 1.5rem 1rem 1.5rem 1rem;
    justify-content: center;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

.buttons {
    display: flex;
    justify-content: center;
}

.next {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.nextButton {
    padding: 1rem;
    border-radius: .5rem;
    font-size: 1.3rem;
    background-color: #F7F7F7;
}

.nextButton:hover:enabled {
    padding: 1rem;
    border-radius: .5rem;
    font-size: 1.3rem;
    background-color: #d9dadf;
}

.valid {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    font-size: 2rem;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#474A58, #272932);
    padding: .8rem 0 .8rem 0;
    color: #F7F7F7;
    bottom: 0;
    position: absolute;
    width: 100%;
}

.start {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.781);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.end {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.781);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.endTxt {
    font-weight: bold;
    font-size: 1.5rem;
    background: linear-gradient(#272932, #474A58);
    padding: 1rem;
    border-radius: 10px;
    color: #F7F7F7;
}

.start-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .5rem;
    width: 15rem;
    height: 4rem;
    font-size: 2rem;
}

.start-button:hover {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .5rem;
    width: 15rem;
    height: 4rem;
    font-size: 2rem;
    background-color: #d9dadf;
}

.progressbar {
    height: 2em;
    background-repeat: no-repeat;
    background-size: 0;
    margin: 0 auto;
    max-width: 150ch;
    margin-bottom: 3rem;
    border-radius: 20px;
}

.progressbar {
    border: 1px solid #272932;
    background-image: linear-gradient(to left, #474A58, #272932 100%);
}

.progressbar.animation {
    background-size: 100%;
    transition: background-size 10s linear;
}

.progressbar.info {
    background-size: 100%;
    transition: background-size 7s linear;
}